@{
    ViewBag.Title = "DEMO purpose Email Link";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Por favor revise su correo electrónico y confirme su dirección de correo electrónico.
</p>
<p class="text-danger">
    Para propósitos de PRUEBA: puede hacer clic en este enlace para confirmar el correo electrónico: <a href="@ViewBag.Link">Confirmar correo</a>
    Cambie este código para registrar un servicio de correo electrónico en IdentityConfig para enviar un correo electrónico.
</p>
